<!DOCTYPE html>
<html>
<head>
	<title>HomeTask</title>
</head>
<body>
	<h1>Home Task  20186337 kmj</h1>
	<form method="post">
	<fieldset>
		<table>
			<tr>
				<td><label>CAMERA</label></td>
				<td><input type= "submit"  formaction="/shot" name="shot" value= "shot"/></td>
			</tr>
			<tr>
				<td><label>7-segment</label></td>
				<td><input type ="text" name="seg" value="input"/></td>
				<td><input type="submit" formaction="/seg" name="seg_btn"/></td>
			</tr>
			<tr>
				<td><label>LCD</label></td>
				<td><input type="text" name="lcd"  value="input"/></td>
				<td><input type="submit" formaction="/lcd" name="lcd_btn"/></td>
			</tr>
		</table>
	</fieldset>
	</form>
	<img src={{image}} />
</body>
</html>
			
